<ion-header>
  <ion-navbar>
    <ion-title>Ionic Geolocation Advanced Native</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- DEFAULT -->
  <ion-item>
    <ion-item-divider color="light">DEFAULT (GPS/NET/SAT)</ion-item-divider>
    <span ion-text>Ultimo: {{localizacion_ultimo}}</span>
    <!-- <ion-item *ngFor="let item of localizacion">{{item}}</ion-item> -->
    <ion-item text-center>
      <button ion-button (click)="busca_todos_tipos()"> Busca</button>
    </ion-item>
  </ion-item>

  <!-- PROMISSE -->
  <ion-item>
    <ion-item-divider color="light">PROMISSE (ONLY GPS)</ion-item-divider>
    <span ion-text>Ultimo: {{resp_promis_ultimo}}</span>
    <ion-item *ngFor="let item of resp_promis">{{item}}</ion-item>
    <ion-item text-center>
      <button ion-button (click)="get_gps_promis()"> Busca</button>
    </ion-item>
  </ion-item>

  <!-- SUBSCRIBLE -->
  <ion-item>
    <ion-item-divider color="light">SUBSCRIBLE (ONLY GPS)</ion-item-divider>
    <span ion-text>Ultimo: {{resp_sub_ultimo}}</span>
    <ion-item *ngFor="let item of resp_sub">{{item}}</ion-item>
    <ion-item text-center>
      <button ion-button (click)="get_gps_sub()"> Busca </button>
    </ion-item>
  </ion-item>


</ion-content>